<div class="container mx-auto px-4">
  <h1 class="text-5xl">Lessons</h1>

  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Title</th>
        <th>Category</th>
        <th>Level</th>
        <th>Chapter</th>
      </tr>
    </thead>

    <tbody>
      <% @lessons.each do |lesson| %>
        <tr class="hover:bg-indigo-400">
          <td class="border px-4 py-2 hover:text-white">
            <%= link_to lesson do %>
              <div style="height:100%;width:100%"><%= lesson.title %></div>
            <% end %>
          <td class="border px-4 py-2"><%= lesson.category.title %></td>
          <td class="border px-4 py-2"><%= lesson.level.title %></td>
          <td class="border px-4 py-2"><%= lesson.chapter.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Lesson', new_lesson_path %>

</div>