<!DOCTYPE html>
<html>
  <head>
    <title>Masuta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="<%= "background-size: cover; background-image: url('#{image_path yield(:bg_image)}')" if content_for?(:bg_image) %>">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/notif", locals: { color: "teal", message: notice } if notice %>
    <%= render partial: "layouts/notif", locals: { color: "red", message: alert } if alert %>
    <%= yield %>
  </body>
</html>
