<!DOCTYPE html>
<html>
  <head>
    <title>Masuta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/notif", locals: { color: "teal", message: notice } if notice %>
    <%= render partial: "layouts/notif", locals: { color: "red", message: alert } if alert %>

    <%= yield %>

    <footer class="text-gray-700 body-font">
      <div class="bg-gray-200">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
          <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Masuta
          </p>
          <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">Yukiko</span>
        </div>
      </div>
    </footer>
  </body>
</html>
